<div  class="container" *ngIf="task">
  <h2>{{task.name}} details!</h2>
  <div>
    <label>id: </label>{{task.id}}</div>
  <div>
    <label>name: </label>
    <input [(ngModel)]="task.name" class="form-control input-md" placeholder="name" />
  </div>
  <div>
  <label>description: </label>
  <input [(ngModel)]="task.description" class="form-control input-md" placeholder="description" />
</div>
  <button class="btn btn-default" (click)="goBack()">Back</button>
  <button class="btn btn-default" (click)="save()">Save</button>
</div>
