<ul id="messages">
  <li *ngFor="let message of messages">
    <span [innerHTML]="isSystemMessage(message)"></span>
  </li>
</ul>
<div class="input-group">
  <form action="">
    <div class="row">
      <div class="col-md-12">
        <div class="input-group">
          <input [(ngModel)]="chatBox" [ngModelOptions]="{standalone: true}" autocomplete="off" class="form-control"/>
          <span class="input-group-btn">
            <button (click)="send()" class="btn btn-primary">Send</button>
          </span>
        </div>
      </div>
    </div>
  </form>
</div>
