/* You can add global styles to this file, and also import other style files */
form {position: fixed; bottom: 0; width: 100%; }
#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #eee; }
